*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.app{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

button{
    outline: none;
    border: none;
}

@import "./block/header";
@import "./block/therapy";
@import "./block/about";
@import "./block/health";


.health:last-child{
    background: #22356F;

}







