


.health{
    min-height: 480px;
    

   
    &__title{
        font-size: 32px;
        line-height: 34px;
        letter-spacing: -0.006em;
        
        color: #fff;

        padding: 130px 184px 0 105px;

        
    }
}


.dark-blue{
    background: #22356F;
}

.blue{
    background: #0052C1;
}

.sky-blue{
    background: #62D0DF;
}

.grey{
    background: #DEE1FF;
}

.purple{
    background: #8F00FF;
}